*.hprof
managed-jbake-context.yml
build
.gradle
.idea
.settings
.project
private
doc
local.properties
content/ignored
templates/code.txt
central-content.code-workspace
.vscode
node_modules
.vs
.goosehints
.goose
prompt.txt